<!--footer-->
<footer>
  <div class="container">
    <div class="footer_content">
      <div class="footer_word d-flex">
        <h3 class="footer_title fs-4 my-7 me-3">EXHIBINECTION</h3>
        <p class="footer_date my-7">© 2020. All Rights Reserved.</p>
      </div>
      <div class="footer_button d-flex">
        <!--埋入 sing in (登入)燈箱關鍵-->
        <a 
          href="#" 
          class="footer_item text-wordColor_1 my-7"
          data-bs-toggle="modal"
          data-bs-target=".js-sign-in-modal"
        >
          Sign in
        </a>
        <!--埋入 sing up (註冊)燈箱關鍵-->
        <a 
          href="#" 
          class="footer_item text-wordColor_1 my-7 ms-4"
          data-bs-toggle="modal"
          data-bs-target=".js-sign-up-modal"
        >
          Sign up
        </a>
      </div>
    </div>
  </div>
</footer>