<!--nav-scroller 可以捲動的導覽列-->
<div class="nav-scroller">
  <div 
    class="container-fluid border border-bottom-wordColor_1 h-x0.53" 
    aria-label="Secondary navigation"
  >
    <nav class="nav justify-content-sm-center py-1">
      <a class="navbarDown_detail nav-link text-dark py-2 border__bottom__hover" aria-current="page" href="#">音樂</a>
      <a class="navbarDown_detail nav-link text-dark py-2 border__bottom__hover" href="#">戲劇</a>
      <a 
        class="navbarDown_detail nav-link text-dark py-2 border__bottom__hover
              <%- current == 'design'
              || current == 'detail' ? 'border__bottom__hover--checked' : '' 
              || current == 'christmas' ? 'border__bottom__hover--checked' : ''
              || current == 'kaohsiung' ? 'border__bottom__hover--checked' : ''
              
              %> " 
        href="./design.html"
      >
        設計
      </a>
      <a class="navbarDown_detail nav-link text-dark py-2 border__bottom__hover" href="#">藝術</a>
      <a class="navbarDown_detail nav-link text-dark py-2 border__bottom__hover" href="#">美食</a>
      <a class="navbarDown_detail nav-link text-dark py-2 border__bottom__hover" href="#">旅遊</a>
      <a class="navbarDown_detail nav-link text-dark py-2 border__bottom__hover" href="#">電影</a>
      <a class="navbarDown_detail nav-link text-dark py-2 border__bottom__hover" href="#">親子</a>
      <a class="navbarDown_detail nav-link text-dark py-2 border__bottom__hover" href="#">期間限定</a>
    </nav>
  </div>
</div>