<!--navbar-->

<div class="container-fluid w-100">
  <!--漢堡選單-->
  <button 
    class="navbar-toggler" 
    type="button" 
    data-bs-toggle="collapse" 
    data-bs-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" 
    aria-expanded="false" 
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <!--logo-->
  <a 
    href="./index.html" 
    class="fs-4 navbar-brand text-primary position-lg-absolute top-50 start-50 translate-lg-middle"
  >
    EXHIBINECTION
  </a>
  <!--icon-->
  <!--右邊出現的畫布(offcanvas) -->
  <a 
    href="#" 
    class="nav-link position-relative link-black order-lg-3" 
    data-bs-toggle="offcanvas"  
    data-bs-target="#offcanvasRight" 
    aria-controls="offcanvasRight"
  >
    <span class="material-icons">confirmation_number</span>
    <span class="position-absolute translate-middle rounded-circle bg-secondary text-white px-2">3</span>
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mb-2 mb-lg-0 w-100 d-flex justify-content-md-end align-items-center">
      <li class="nav-item nav_hover">
        <!--埋入 sing in (登入)燈箱關鍵-->
        <a 
          class="nav-link border__bottom__hover px-16 my-2" 
          aria-current="page" 
          href="#"
          data-bs-toggle="modal"
          data-bs-target=".js-sign-in-modal"
        >
          Sign in
        </a>
      </li>
      <li class="nav-item nav_hover">
        <!--埋入 sing up (註冊)燈箱關鍵-->
        <a 
          class="nav-link border__bottom__hover px-16 my-2" 
          href="#"
          data-bs-toggle="modal"
          data-bs-target=".js-sign-up-modal"
        >
          Sign up
        </a>
      </li>
    </ul>
  </div>
</div>