<!--subscribe 下方banner-->
<section 
  class="subscribe_bgPic bg-cover d-flex align-items-end" 
  data-aos="fade-down" 
  data-aos-easing="linear"
  data-aos-duration="1500"
>
  <div class="container">
    <div class="row mb-3">
      <h2 
        class="subscribe_title text-white fs-2 fw-bolder mb-3"
      >
        想收到最新消息嗎？<br> 快訂閱我們！
      </h2>
      <div class="subscribe_mail input-group mb-3">
        <input 
          type="email"
          name="Email"
          class="form-control border border-0 js-subscription-input" 
          placeholder="請輸入您的電子信箱"
          aria-label="請輸入您的電子信箱" 
          aria-describedby="subscriptionEmail"
        >
        <button 
          id="subscriptionEmail"
          type="button"
          class="
                  input-group-text
                  subscribe_link text-white
                  js-subscription-btn
                  input-group-text
                  btn btn-secondary
                  py-16
          "
        >
          訂閱
        </button>
      </div>
      <p
        class="
                js-subscription-msg
                validate-msg
                text-start
                fs-10 text-light text-shadow-1
                ms-7
              "    
      ></p>
    </div>
  </div>
</section>