<!--section like 輪播-->
<!--swiper-->
<div class="container">
  <h2 class="fs-2 fw-bolder mt-4 mt-md-12 mb-2 mb-md-3">猜你也喜歡...</h2>
  <div class="row mb-md-12">
    <div class="col-12 col-md-11 offset-md-1">
      <div class="swiper-container overflow-hidden">
        <div class="swiper-wrapper">
          <!-- Slides -->
          <!--第一輪-->
          <!--1-->
          <div class="swiper-slide">
            <a 
              href="./christmas.html"
              class="colorHover--secondary d-block"
            >
              <div class="card border-0">
                <div class="card__img__hover__linear
                            card__img__text__hover
                            img-position-center
                            card-img-top
                          "
                >
                  <img
                    src="../assets/images/christmas/christmas_3_black.jpg"
                    class="card-img-top" 
                    alt="..."
                  >
                </div>
                <div class="card-body">
                  <h5 class="card-title">(1)No.22 線上聖誕設計展</h5>
                  <p class="card-text">$350</p>
                </div>
              </div>
            </a>
          </div>
          <!--2-->
          <div class="swiper-slide">
            <a 
              href="./detail.html"
              class="colorHover--secondary d-block"
            >
              <div class="card border-0">
                <div class="card__img__hover__linear
                            card__img__text__hover
                            img-position-center
                            card-img-top
                          "
                >
                  <img
                    src="https://images.unsplash.com/photo-1567722681579-c671cabd2810?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80"
                    class="card-img-top" 
                    alt="..."
                  >
                </div>
                <div class="card-body">
                  <h5 class="card-title">(2)No.22 線上設計展</h5>
                  <p class="card-text">$350</p>
                </div>
              </div>
            </a>
          </div>
          <!--3-->
          <div class="swiper-slide">
            <a 
              href="./kaohsiung.html"
              class="colorHover--secondary d-block"
            >
            <div class="card border-0">
              <div class="card__img__hover__linear
                          card__img__text__hover
                          img-position-center
                          card-img-top
                        "
              >
                <img
                  src="./assets/images/Kaohsiung/kaohsiung_3_black.jpg"
                  class="card-img-top" 
                  alt="..."
                >
              </div>
              <div class="card-body">
                <h5 class="card-title">(3)No.22 線上高雄設計展</h5>
                <p class="card-text">$350</p>
              </div>
            </div>
            </a> 
          </div>

          <!--第二輪-->
          <!--1-->
          <div class="swiper-slide">
            <a 
              href="./christmas.html"
              class="colorHover--secondary d-block"
            >
              <div class="card border-0">
                <div class="card__img__hover__linear
                            card__img__text__hover
                            img-position-center
                            card-img-top
                          "
                >
                  <img
                    src="./assets/images/christmas/christmas_3_black.jpg"
                    class="card-img-top" 
                    alt="..."
                  >
                </div>
                <div class="card-body">
                  <h5 class="card-title">(2-1)No.22 線上聖誕設計展</h5>
                  <p class="card-text">$350</p>
                </div>
              </div>
            </a>
          </div>
          <!--2-->
          <div class="swiper-slide">
            <a 
              href="./detail.html"
              class="colorHover--secondary d-block"
            >
              <div class="card border-0">
                <div class="card__img__hover__linear
                            card__img__text__hover
                            img-position-center
                            card-img-top
                          "
                >
                  <img
                    src="https://images.unsplash.com/photo-1567722681579-c671cabd2810?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80"
                    class="card-img-top" 
                    alt="..."
                  >
                </div>
                <div class="card-body">
                  <h5 class="card-title">(2-2)No.22 線上設計展</h5>
                  <p class="card-text">$350</p>
                </div>
              </div>
            </a>
          </div>
          <!--3-->
          <div class="swiper-slide">
            <a 
              href="./kaohsiung.html"
              class="colorHover--secondary d-block"
            >
            <div class="card border-0">
              <div class="card__img__hover__linear
                          card__img__text__hover
                          img-position-center
                          card-img-top
                        "
              >
                <img
                  src="./assets/images/Kaohsiung/kaohsiung_3_black.jpg"
                  class="card-img-top" 
                  alt="..."
                >
              </div>
              <div class="card-body">
                <h5 class="card-title">(2-3)No.22 線上高雄設計展</h5>
                <p class="card-text">$350</p>
              </div>
            </div>
            </a> 
          </div>

          <!--第三輪-->
          <!--1-->
          <div class="swiper-slide">
            <a 
              href="./christmas.html"
              class="colorHover--secondary d-block"
            >
              <div class="card border-0">
                <div class="card__img__hover__linear
                            card__img__text__hover
                            img-position-center
                            card-img-top
                          "
                >
                  <img
                    src="./assets/images/christmas/christmas_3_black.jpg"
                    class="card-img-top" 
                    alt="..."
                  >
                </div>
                <div class="card-body">
                  <h5 class="card-title">(3-1)No.22 線上聖誕設計展</h5>
                  <p class="card-text">$350</p>
                </div>
              </div>
            </a>
          </div>
          <!--2-->
          <div class="swiper-slide">
            <a 
              href="./detail.html"
              class="colorHover--secondary d-block"
            >
              <div class="card border-0">
                <div class="card__img__hover__linear
                            card__img__text__hover
                            img-position-center
                            card-img-top
                          "
                >
                  <img
                    src="https://images.unsplash.com/photo-1567722681579-c671cabd2810?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80"
                    class="card-img-top" 
                    alt="..."
                  >
                </div>
                <div class="card-body">
                  <h5 class="card-title">(3-2)No.22 線上設計展</h5>
                  <p class="card-text">$350</p>
                </div>
              </div>
            </a>
          </div>
          <!--3-->
          <div class="swiper-slide">
            <a 
              href="./kaohsiung.html"
              class="colorHover--secondary d-block"
            >
            <div class="card border-0">
              <div class="card__img__hover__linear
                          card__img__text__hover
                          img-position-center
                          card-img-top
                        "
              >
                <img
                  src="./assets/images/Kaohsiung/kaohsiung_3_black.jpg"
                  class="card-img-top" 
                  alt="..."
                >
              </div>
              <div class="card-body">
                <h5 class="card-title">(3-3)No.22 線上高雄設計展</h5>
                <p class="card-text">$350</p>
              </div>
            </div>
            </a> 
          </div>
          <!--end-->
        </div>
      </div>
    </div>
  </div>
</div>