<!--時間軸-->
  <div class="checkOrder_topLine">
    <div class="container">
      <div class="row pt-11 pb-11 pb-lg-7">
        <div class="col-lg-8">
          <ul class="ckeckOrder_lineBar d-flex justify-content-between">
            <li class="ckeckOrder_lineBarItem fw-bolder active">確認訂單</li>
            <li class="ckeckOrder_lineBarItem">填寫訂購資訊</li>
            <li class="ckeckOrder_lineBarItem">填寫訂購資訊</li>
            <li class="ckeckOrder_lineBarItem ">完成訂購</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  