// 圖片垂直置中對齊 design.html 和其它頁面圖片用
.img-position-center {
  position: relative;
  overflow: hidden;
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
}

// 表單裡無法使用的樣式 設定 formValidation.js and 各張modal.ejs裡
.disabled-style {
  width: 100%;
  height: 100px;
  position: absolute;
  cursor: not-allowed;
  background: rgba($light, .5);
}